body {
    box-sizing: border-box;
    margin: 0px;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding: auto;
    margin-bottom: -35rem;
    margin-left: -18.55rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


main {
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 470px;
    padding-left: 13px;
    border-radius: 15px;
}

h3 {
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-weight: 700;

    font-family: 'Outfit';
}

.image {
    margin-right: 4%;
}

img {
    max-width: 100%;
    margin-top: 6%;

    border-radius: 15px;
}

#descript {
    /* changed color as mentioned in readme only */
    color: hsl(220, 15%, 55%);
    /* opacity: 0.5; */
    text-align: center;
    margin-right: 2%;
    font-weight: 400;
    font-family: 'Outfit';
    font-size: 0.9375rem;
}